// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#messages {
  border: solid 1px lightgrey;
  height: 90%;
  height: 400px;
  overflow: scroll;
  padding: 0.5em;
}
.messages {
  line-height: 1em;
}
